# Supabase - Créez un fichier .env et renseignez les valeurs de votre projet Supabase
# Dashboard : https://supabase.com/dashboard/project/_/settings/api
VITE_SUPABASE_URL=https://dbwdunlchnblumwnmmev.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRid2R1bmxjaG5ibHVtd25tbWV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1ODc2MjgsImV4cCI6MjA4NzE2MzYyOH0.c4xZWKFsvanxRcq_b6OdI9zYqw5GWpjXe_YkcLtImjU
